/* Стилизация кнопки */

.btn {
	font-size: 16px;
	color: #FFFFFF;
	border: none;
	width: 189px;
	height: 48px;
	margin-left: 33px;
	text-align: center;
	border-radius: 8px;
	cursor: pointer;
}

.btn--primary {
    background-color: #4263EB;
}

.btn--primary:hover {
	background-color: #2342C0;
}

.btn--primary:disabled {
	background-color: #4263EB;
	opacity: 0.5;
	border-radius: 8px;
}

.btn--secondary {
	background-color: #7048E8;
}

.btn--secondary:hover {
	background-color: #5028C6;
}

.btn--secondary:disabled {
	background: #7048E8;
	opacity: 0.5;
	border-radius: 8px;
}

.btn--alternative {
	background-color: transparent;
    border: 1px solid #ACB5BD;
    color: #495057;
}

.btn--alternative:hover {
    border-color: #212429;
}

.btn--secondary:disabled {
	opacity: 0.5;
}
