body {
    margin: 0;
}

.header{
    background-color: red;
    text-align: center;
}

.main-title {
  font-weight: bold;
  color: white;
  margin: 0;
}

.nav {
    background-color: orange;
    padding: 20px 0;
}

.nav-list {
    margin: 0;
    padding: 0;
}

.nav .trilogy {
    margin: 0;
    padding: 0;
}

.nav .item {
    display: inline-block;
    margin: 0 30px;
}

.nav .link {
    color: white;
    font-size: 24px;
}

.content {
    background-color:green;
    padding: 5px 2px;
  }


.article {
    background-color: blue;
    color: white;
    margin: 5px 5px;
    padding: 5px;
}

.footer {
    background-color: rgb(132, 0, 255);
    color: white;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}