.header__title {
    font-weight: 500;
    font-size: 50px;
}

.footer {
    padding-top: 71px;
    padding-bottom: 136px;
}

.footer__title {
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
}

.footer__text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 32px auto 0;
    max-width: 640px;
}

.sidebar {
    font-size: 14px;
    padding-left: 165px;
    padding-right: 56px;
}

.sidebar__title {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #212429;
    margin-top: 0;
}

.sidebar__list {
    list-style: none;
    padding: 0;
}

.sidebar__link {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #212429;
    text-decoration: none;
    white-space: nowrap;
}

.sidebar__item--active .sidebar__link {
    color: #D84910;
}

.sidebar__item--main-page {
    margin-top: 22px;
}

.container {
    display: flex;
    justify-content: start;
    max-width: 1440px;
    margin: 82px auto 0;
}

.page-content {
    margin-bottom: 166px;
    margin-right: 165px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding-top: 32px;
    padding-left: 48px;
    min-height: 745px;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}

.page-content-title {
    font-size: 28px;
    font-weight: normal;
    line-height: 38px;
    color: #495057;
    margin-bottom: 24px;
}

@media screen and (max-width: 1024px) {

    .header__title {
        font-size: 36px;
    }
}

@media screen and (max-width: 991px) {

    .header__title {
        font-size: 28px;
    }
}