@import "./normalize.css";
@import "./main.css";
@import "../../04-lection2/01-histogram/histogram.scss";
@import "../../05-lection3/03-calendar/calendar.scss";
@import "../../05-lection3/02-modal/modal.scss";
@import "../../03-lection1/01-button/button.scss";
@import "../../05-lection3/01-tooltip/tooltip.scss";
@import "../../06-lection4/01-avatar/avatar.scss";
@import "../../04-lection2/02-skeleton/skeleton.scss";
@import "../../components/page/page.scss";
@import "../../components/preview/preview.scss";
