@import './normalize.css';
@import '../fonts/fonts.css';
@import '../../07-lection5/04-input/input.scss';

* {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  font-size: 0;
  background-color: #F9FAFC;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 30px;
}