.tooltip-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.tooltip {
    position: relative;
}

.tooltip__text {
    display: none;
    background: #4263EB;
    position: absolute;
    width: 129px;
    height: 45px;
    color: #DDE2E5;
    font-weight: normal;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    left: -52px;
    bottom: 30px;
}

.tooltip__text:after{
    content: '';
    position: absolute;
    left: 54px; bottom: -16px;
    border: 10px solid transparent;
    border-top: 6px solid #4263EB;
}

.tooltip:hover .tooltip__text {
    display: block;
}

