.preview__flex {
    overflow: hidden;
    max-width: 1110px;
    margin: 0 auto;
}

.page__box {
    display: flex;
    flex-wrap: wrap;
}

.preview-flex__card {
    /* flex-grow: 1;
    flex-shrink: 1; */
    flex-basis: 350px;
    height: 367px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.preview-flex__card:nth-child(3n+3) {
    margin-right: 0;
}

.preview-flex__card-name {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
    color: #000;
}

.preview-flex__card-name:hover {
    text-decoration: underline;
}

.preview-flex__card-preview {
    max-width: 350px;
    padding-right: 25px;
    padding-left: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.preview-flex__card-preview > .histogram {
    width: 300px;
    height: 157px;
}

.preview-flex__card-preview > .calendar {
    padding: 10px 26px;
}

.preview-flex__card-preview > .calendar .calendar__title {
    margin-bottom: 5px;
}

.preview-flex__card-preview > .calendar .calendar__list {
    grid-template-rows: repeat(6, 30px);
}

.preview-flex__card-preview--modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview-flex__card-preview--modal #modal-open {
    margin-bottom: 20px;
    margin-left: 0;
}

.preview-flex__card-preview > .modal {
    position: relative;
    transform: unset;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
}

.preview-flex__card-preview > .modal .modal__title {
    font-size: 14px;
    line-height: 16px;
}

.preview-flex__card-preview > .modal .modal__text {
    font-size: 10px;
    line-height: 12px;
}


.preview-flex__card-preview > .tooltip-wrapper .tooltip__text {
    display: block;
}