.preview .header,
.preview .footer {
    background-color: #fff;
}

.preview .header {
    padding: 40px 0;
}
.preview .header__title {
    margin: 0;
}
.preview .container {
    max-width: 1110px;
    margin: 0 auto;
    display: block;
    width: 95%;
}

.preview-wrapper {
   border: 1px solid #dde2e5;
   border-right: none;
   border-left: none;
}

.preview-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 68px 0 92px;
}

.preview__card {
    height: 367px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}

.preview__card-name {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    color: #000;
    position: absolute;
    bottom: 30px;
    margin: 0;
}

.preview__card-name:hover {
    text-decoration: underline;
}

.preview__card-preview {
    padding-right: 25px;
    padding-left: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    position: relative;
}

.preview__card-preview:hover .preview__card-name {
    text-decoration: underline;
}

.preview__card-preview > .histogram {
    width: 300px;
    height: 157px;
}

.preview__card-preview > .calendar {
    padding: 10px 26px;
}

.preview__card-preview > .calendar .calendar__title {
    margin-bottom: 5px;
}

.preview__card-preview > .calendar .calendar__list {
    grid-template-rows: repeat(6, 30px);
}

.preview__card-preview--modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview__card-preview--modal #modal-open {
    margin-bottom: 20px;
    margin-left: 0;
}

.preview__card-preview--modal #modal-open,
.preview__card-preview--modal .modal__close {
    pointer-events: none;
}

.preview__card-preview > .modal {
    position: relative;
    transform: unset;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
}

.modal--preview {
    position: relative;
    transform: unset;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
}

.modal--preview .modal__title {
    font-size: 14px;
    line-height: 16px;
}

.modal--preview .modal__text {
    font-size: 10px;
    line-height: 12px;
}

.preview__card-preview > .tooltip-wrapper .tooltip__text {
    display: block;
}

@media screen and (max-width: 1140px) {

    .preview-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {

    .preview-box {
        grid-gap: 15px;
    }
}