input {
    width: 350px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #DDE2E5;
    box-sizing: border-box;
    border-radius: 8px;
    border-color: none;
    padding: 17px 35px 17px 24px;

    &::placeholder {
        color: #DDE2E5;
        font-size: 20px;
        line-height: 26px;
    }

    &:focus,
    &:not(:placeholder-shown) {
        outline: none;
        border: 1px solid #4263EB;
        box-shadow: 0px 1px 1px rgba(51, 154, 240, 0.1);
        color: #495057;
        font-size: 20px;
        line-height: 26px;
        box-shadow: 0px 1px 1px rgba(51, 154, 240, 0.1);
        border-radius: 8px;
    }

    &.input--invalid,
    &.input--invalid:focus {
        border: 1px solid #F03D3E;
        box-sizing: border-box;
        box-shadow: 0px 1px 1px rgba(240, 61, 62, 0.1);
        border-radius: 8px;
        color: #495057;
        background: url('img/alert-triangle.png') no-repeat center right 10px;
    }

    &.input--success,
    &.input--success:focus {
        background-color: #ddffdd;
        background: #FFFFFF;
        border: 1px solid #DDE2E5;
        box-sizing: border-box;
        border-radius: 8px;
        background: url('img/check-circle.png') no-repeat center right 10px;
    }
}